/*
    configurações do menu principal
*/
.menu {
    height: 5vh;
    background-color: darkgoldenrod;
    padding-bottom: 8px;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100vw;
}

.navMenu::after{
    content: '';
    display: block;
    clear: both;
}

.navMenu ul {
    list-style: none;
    text-align: left;
    
/*
    display: flex;    
*/
}

.navMenu ul li{
    display: inline;
}

.navMenu ul li a {
    padding-left: 1.2vw;
    display: inline-block;
    text-decoration: none;
    color: #333;
}

.navMenu ul li a:hover {
    font-weight: bold;
    color: blue;
}
